/*colors main*/
/*accent color*/
/*active colors*/
/*grey colors*/
/*gradient*/
.hero, .preferences__link, .better, .provider {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.h2, .preferences__name {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}

.h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #323264;
}

.h3-caps, .services__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.h4, .pages__link, .phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.paragraph, .opportunities__describe {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.unordered-list {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.ordered-list {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.link-regural {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.link-hover {
  font-size: 16px;
  line-height: 20px;
  color: #F0145A;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.content {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.container {
  width: 1920px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 160px;
  padding-right: 160px;
}

/*header*/
.homepage__header {
  display: flex;
  width: 100%;
}

.dot {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  position: absolute;
}

.logo__block {
  margin-top: 50px;
}

.communication {
  display: flex;
}

.languages__block {
  display: flex;
  margin-bottom: 11px;
  align-items: center;
}

.languages__list {
  display: flex;
  position: relative;
}

.languages__list::after {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  position: absolute;
  bottom: 6px;
  right: 0px;
}

.languages__item {
  /*margin-top: 55px;*/
  margin-right: 14px;
}

.languages__item:last-child {
  margin-right: 13px;
}

.languages__link.current__language {
  padding: 5px 7px;
  background-color: #F0145A;
  border-radius: 8px;
}

.languages__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
}

.street {
  position: relative;
  /*margin-top: 52.5px;*/
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6px;
  margin-right: 18px;
}

.street::after {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  position: absolute;
  bottom: 8px;
  right: -12px;
}

.phone {
  position: relative;
  color: #FFFFFF;
  /*margin-top:52.5px;*/
  margin-right: 18px;
}

.phone::after {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  position: absolute;
  bottom: 8px;
  right: -12px;
}

.facebook-header__link {
  /*margin-top:48px;*/
}

.communication {
  display: flex;
  flex-direction: column;
  margin-left: 999px;
  margin-top: 50px;
}

.pages__list {
  display: flex;
  justify-content: flex-end;
}

.pages__item {
  margin-left: 15px;
}

.pages__link {
  text-decoration: none;
  color: #FFFFFF;
}

/*provider and bg-image*/
.provider {
  color: #FFFFFF;
  text-align: center;
  margin-top: 361px;
  /*background-image: url('/images/Symbol.png');*/
}

/*static menu*/
.services__name {
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 10px;
}

.services .services__name:hover {
  color: #F0145A;
}

.services .arrow-img:hover {
  background-image: url("/images/Arrow1.svg");
}

.better {
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  margin-bottom: 60px;
}

.preferences {
  display: flex;
  margin-bottom: 60px;
}

.preferences__list {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-right: 60px;
  text-align: end;
  padding-top: 14.5px;
  padding-top: 14.5px;
}

.preferences__item {
  margin-bottom: 30px;
}

.preferences__item:last-child {
  margin-bottom: 0px;
}

.preferences__link {
  text-decoration: none;
  color: #B3B3BA;
}

.preferences__link:hover {
  color: #F0145A;
}

.preferences__text {
  width: 861px;
  padding-left: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.preferences__name {
  color: #FFFFFF;
  margin-top: 73px;
  margin-bottom: 30px;
}

.preferences__describe {
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 73px;
}

/*opportunities cards*/
/*
.opportunities {
    width:1600px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}

.opportunities__card {
    display: flex;
    flex-direction: column;
    width:493px;
    margin-right:60px;
}

.opportunities-img__block {
    margin-bottom:30px;
}

.opportunities__card.opportunities-last {
    margin-right:0;
}

.opportunities__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
    text-decoration: none;
    margin-bottom:15px;
    width:100%;
}

.opportunities__name:hover {
    color:$accent;
}

.opportunities__describe {
    @extend .paragraph;
    color:#FFFFFF;
    margin-bottom:60px;
    width:100%;
}
*/
.opportunities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.opportunities__name {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 15px;
}

.opportunities__name:hover {
  color: #F0145A;
}

.opportunities__describe {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
